body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(184, 171, 222);
    color: white;
  }
  
  .container {
    width: 400px;
    text-align: center;
    position: relative;
  }
  .counter {
    font-size: 40px;
    
  }
  .loadingBarGround {
    height: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;
  }
  .loadingBarFront {
    height: 10px;
    background-color: rgb(44, 7, 48);
    border: none;
    border-radius: 5px;
    width: 0%;
    position: absolute;
  }
